@{
    ViewBag.Title = "Đ?t hàng thành công";
}

@section styles {
    <link href="~/Content/css/order-success.css" rel="stylesheet" />
}

<div class="order-success-container">
    <div class="success-content">
        <div class="success-icon">
            <i class="fa fa-check-circle"></i>
        </div>
        
        <h1>Đặt hàng thành công!</h1>
        
        @if (TempData["SuccessMessage"] != null)
        {
            <p class="success-message">@TempData["SuccessMessage"]</p>
        }
        
        <p>Cảm ơn bạn đã mua hàng tại TechStore.</p>
        <p>Chúng tôi đã nhận được đơn hàng của bạn và sẽ liên hệ với bạn trong thời gian sớm nhất.</p>
        
        <div class="action-buttons">
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
                Về trang chủ
            </a>
            <a href="@Url.Action("Index", "Products")" class="btn btn-secondary">
                Tiếp tục mua sắm
            </a>
        </div>
    </div>
</div>
