﻿@model WebApplication10.ViewModels.DashboardViewModel
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ViewBag.Title = "Admin Dashboard";
}
<div id="dashboardContent">
    @Html.Partial("_DashBoard", Model)
</div>
@section Scripts {
    <script src="~/Scripts/users/admin-navigation.js"></script>
}


