<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title - Tech Store</title>
    <link href="~/Content/css/auth/auth.css" rel="stylesheet" />
</head>
<body>
    <div class="auth-wrapper">
        <div class="auth-container">

            <div class="auth-left" id="auth-left-container">
                @RenderBody()
            </div>

            <div class="auth-right" id="auth-right-container">
                @RenderSection("RightPanel", required: false)
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/auth/auth-navigation.js"></script>
</body>
</html>
