
@model WebApplication10.Models.Products
<h4>Xóa sản phẩm</h4>

<p>Bạn có chắc muốn xóa sản phẩm <strong>@Model.ProductName</strong>?</p>

<form class="ajax-form" method="post" action="/Products/DeleteConfirmed">
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.ProductId" />

    <button type="submit" class="btn btn-danger">Xóa</button>
    <button id="btnBackToList" class="btn btn-secondary">Hủy</button>
</form>
