@model WebApplication10.ViewModels.AdminEditProductsVM      

<h4>Cập nhật sản phẩm</h4>

<form class="ajax-form" method="post" action="/Products/Edit">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ProductId)

    <!-- COPY Y HỆT CREATE -->
    @Html.Partial("_CreateProduct", Model)
</form>
