@{
    ViewBag.Title = "Manage Products";
    Layout = null;
}

<div id="productListContainer"></div>
<!--demooo -->
<script>
    console.log(' AdminProducts Index loaded');

    $(function () {
        loadProductList();
    });

    function loadProductList() {
        console.log('➡️ load ProductListPartial');

        $.get('/AdminProducts/ProductListPartial')
            .done(function (html) {
                $('#productListContainer').html(html);
            })
            .fail(function (xhr) {
                console.error('❌ Load ProductListPartial fail', xhr.status);
            });
    }
</script>
