@{
    ViewBag.Title = "Users";
    Layout = null;
}

<div class="users-page">
    <div class="users-header">
        <div class="users-title">
            <h3>Người dùng</h3>
            <span class="users-subtitle">Quản lý tài khoản hệ thống</span>
        </div>

        <div class="users-actions">
            <a href="/Users/Create" class="btn btn-primary btn-create-user">
                <i class="fa-solid fa-user-plus"></i>
                Tạo người dùng
            </a>
        </div>
    </div>

        <div id="users-partial-container">
            @Html.Action("UserListPartial")
        </div>

</div>
